@charset "utf-8";
/* CSS Document */
band {
	display: black;
	text-align: center;
	font-size: 60px;
	padding: 20px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	
}
song {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	color: #1A7FEE;
	display: block;
	border: 5px solid #000000;
	padding: 30px;
	margin:20px;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 25px;
}

title {
	font-weight:bold;
	display: block;
}

year {
	color: #333333;
	display: block;
}